<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/radiocrepe.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.qtip.css')}}" />
  <link href='http://fonts.googleapis.com/css?family=Share' rel='stylesheet' type='text/css'>


  <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.qtip.js')}}"></script>
  <script src="{{url_for('static', filename='js/underscore-min.js')}}"></script>
  <script src="{{url_for('static', filename='js/backbone.js')}}"></script>
  <script src="{{url_for('static', filename='js/handlebars.js')}}"></script>

  {% raw %}
  <script id="song_template" type="text/x-handlebars-template">
    <span class="artist">{{ artist }}</span>
    <span class="title">{{ title }}</span>
  </script>

  <script id="login_notif_template" type="text/x-handlebars-template">
    <img src="{{picture}}" class="user_picture"/>
    <span><span>{{name}}</span> logged in</span>
  </script>
  {% endraw %}

  <script type="text/javascript">
    var url = "{{url_for('index', _external=True)}}";
  </script>

</head>
<body class="shadow">

  {% include 'user.html' %}
  <h1>{{title}}</h1>
  {% include 'sys_info.html' %}
  <h2 id="now_playing">now playing</h2>
  <div id="now_playing_box" class="carved">
     <img id="picture"/>
     <div id="now"></div>
  </div>
  <h2 id="queued_up\">queued up</h2>
  <ul id="song_list">
  </ul>
  <div id="add_box">
    <input type="text" id="term"/>
    <button id="play">Play!</button>
  </div>
  <script src="{{url_for('static', filename='js/queue.js')}}"></script>
  <script src="{{url_for('static', filename='js/user_profile.js')}}"></script>
  <script src="{{url_for('static', filename='js/notifications.js')}}"></script>
</body>
</html>