html {
    background: #444;
}

a {
    color: #5566ff;
    text-decoration: none;
}

body {
    width: 600px;
    background-color: #f3f3f3;
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #222;
    font-family: Share;
}

.shadow {
    box-shadow: 0px 0px 5px 1px #222;
}

.carved {
    background: #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px 1px #fff;
    color: #666;
}

h1 {
    padding: 0px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 18px;
    margin: 15px 0 0 0;
}

ul#song_list {
    padding: 0;
}

ul#song_list li {
    padding: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    width: 400px;

    background: #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px 1px #fff;
    color: #666;

    line-height: 25px;

}

.download_link {
    font-size: 12px;
}

ul#song_list li .download_link {
    float: right;
}

ul#song_list li .title {
    display: inline-block;
    max-width: 230px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul#song_list li .artist {
    font-weight: bold;
}

#now_playing_box {
    padding: 10px;
    overflow: auto;
    color: #444;
}

h2#queued_up {
    color: #bbb;
}

h2#now_playing {
    margin-bottom: 10px;
}

#now {
    float:left;
}

#now .title {
    display: block;
    font-size: 20px;
    color: #777;
}

#now .artist {
    display: block;
    font-size: 30px;
}

#now .download_link {
    display: inline-block;
    margin: 10px 0 0 0;
}

#add_box {
    padding-bottom: 10px;
}

#picture {
    float: right;
}

#now_playing {
    color: #bbb;
}

#user_box {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background: #888;
    border-radius: 0 0 0 5px;
}

.user_picture {
    width: 32px;
    height: 32px;
}

ul#sys_info li {
    display: inline;
    list-style-type: none;
    padding: 0;
}

ul#sys_info {
    padding: 0;
}

div#userpop {
    display: none;
    font-size: 12pt;
}

div#userpop h2 {
    margin: 0 0 10px 0;
}

ul.simple_list {
    margin: 0;
    padding: 0;
}

ul.simple_list li {
    padding: 5px 0 10px 0;
    list-style-type: none;
}

ul.simple_list li .caption {
    font-weight: bold;
}

.ui-tooltip {
    font-size: 12pt !important;
    max-width: 400px !important;
}

.quote {
    border: 1px solid #ddd;
    background: #eee;
    padding: 2px;
}

span.user_img .user_picture {
    width: 25px;
    height: 25px;
    float: right;
}

div#now_playing_box span.user_img .user_picture {
    margin-top: 10px;
    float: left;
}
